<!DOCTYPE html>
<html>
<head>
<title>SaBi</title>
</head>
<body>

<h1>SaBi Project</h1>
<p>List USB Devices</p>
<pre>{{ output }}</pre>
<form action="{% url 'homepage:bind' %}" method="POST">
    {% csrf_token %}
    <label for="port">Port : </label>
    <input type="text" id="port" name="port" required>
<button type="submit">Bind/Unbind</button>
</form>
<p>After click button, Left Click Mouse to bind or Right Click Mouse to unbind in your virtual box</p>
</body>
</html>